.optionButton {
  width: 80px;
  padding: 5px 10px;
  margin-right: 5px;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 700;
  color: black;
  background-color: wheat;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.optionButton:active {
  background-color: brown;
  color: white;
}
